<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Expvp Minecraft game mode
  ~ Copyright (C) 2016-2017 Philipp Nowak (https://github.com/xxyy)
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!--
_____   ____        _   _  ____ _______       ______ _____ _____ _______
|  __ \ / __ \      | \ | |/ __ \__   __|     |  ____|  __ \_   _|__   __|
| |  | | |  | |     |  \| | |  | | | |        | |__  | |  | || |    | |
| |  | | |  | |     | . ` | |  | | | |        |  __| | |  | || |    | |
| |__| | |__| |     | |\  | |__| | | |        | |____| |__| || |_   | |
|_____/ \____/      |_| \_|\____/  |_|        |______|_____/_____|  |_|

This file is regenerated on every reload and cache clear. Any changes will be lost!
Instead, try editing hibernate.properties in the Expvp data folder. (plugins/Expvp)

-->

<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- We discover our classes dynamically at runtime -->
        <!-- Configuration is in hibernate.properties; copied to data folder at runtime -->
    </session-factory>
</hibernate-configuration>
